/*350*/
@media screen and (min-width:350px){
    /*header*/
    #title{
        font-size: 3.3em;
    }
    
    /*hero*/
    #hero_banner{
        padding-top: 20px
    }
}

/*400px*/
@media screen and (min-width:400px){
    /*header*/
    #logo_box{
        width: 20%;
    }
    
    #title_box{
        width: 80%;
    }
    
    #logo{
        max-width: 100px;
    }
    
    /*hero*/
    #hero_banner{
        font-size:1em;
        padding-top: 25px;
        height: 40%;
    }
    
/*featured*/
    .banners{
        padding-top: 5px;
    }
    
    #portfolio_title_box{
        font-size: 1.2em;
    } 
}

/*500px*/
@media screen and (min-width:500px){
    /*header*/
    #title{
        font-size: 4em;
    }
    
    /*Navmenu*/
    .link_cont{
        padding-top: 20px;
        padding-bottom: 20px; 
    }
    
    .sidenav a{
        font-size:35px;
    }
    
    .sidenav .closebtn{
        font-size: 60px;
    }
    
    /*Featured*/
    .banners h3{
        font-size:1.4em;
    }
   
    .footer{
        font-size: 1em;
    }
}
/*700px*/
@media screen and (min-width:700px){
    /*Header*/
    #title{
        font-size: 4em;
        /*top:20px;*/
    }
  
    #hero_banner{
        font-size: 1.5em;
        }
        /*Featured Work*/
    #portfolio_title_box{
            font-size: 1.8em;
        }
    .banners{
            font-size: 1.4em
        }
     #cont2{
            grid-column:4/10;
    }
    #cont3{
            grid-column:5/10;
            grid-row:6/11
    }  
}
/*800px*/
@media screen and (min-width:800px){
    /*hero*/

    #hero_banner{
        font-size:1.7em;
        padding-top:30px;
    }
    /*menu*/
    .hammenu span{
    font-size:50px;
    }
    .hammenu{
         margin-bottom: 20px;
    }
    /*footer*/
    .footer{
        font-size: 1.2em;
    }
}
